@import "../global.scss";
@import "../settings/_index.scss";

.header-flex {
    height: 1.7%;
}

.btn-default {
    line-height: $line-height-base;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    border-color: transparent;
    margin: 0 2px;

    @include media('<=768px'){
        width: 65px;
    }

    @include media('<=530px'){
        height: 25px;
        font-size: 12px;
    }

    @include media('<=400px'){
        font-size: 10px;
        height: 20px;
        width: 55px;
    }
}

.btn-header1 {
    color: $white;
    background-color: $btn-green-bg;

    &:hover {
        background-color: $btn-green-bg-hover;
    }
}

.btn-header2 {
    color: $white;
    background-color: $btn-red-bg;

    &:hover {
        background-color: $btn-red-bg-hover;
    }
}

.btn-icon {
    background-color: #f5f5f5;
    color: #a0a0a0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: transparent;
    margin: 0 24px;

    @include media('<=681px'){
        margin: 0 10px;
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    @include media('<=400px'){
        width: 20px;
        height: 20px;
        font-size: 10px;
        margin: 0 5px;
    }
}

.btn-icon_profile {
    background-color: #b5b5b5;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.btn-icon_bell {
    display: none;
    margin: 0 8px;
    position: relative;

    &:before {
        @include triangle(18px, #fcb322, up-left);

        position: absolute;
        content: '';
        display: block;
        top: -10px;
        left: 20px;
        border-radius: 50%;

        @include media('<=1022px') {
            border-top: 15px solid #fcb322;
            border-right: 15px solid transparent;
            top: -4px;
        }
    }

    &:after {
        position: absolute;
        color: $white;
        display: inline-block;
        content: '8';
        top: -7px;
        left: 26px;
        font-size: 11px;

        @include media('<=1022px'){
            top: -3px;
            left: 25px;
        }
    }
}

.btn-icon_mail {
    margin: 0 8px;
    position: relative;
    display: none;

    &:before {
        @include triangle(18px, #ef6c00, up-left);

        position: absolute;
        content: '';
        display: block;
        top: -10px;
        left: 20px;
        border-radius: 50%;

        @include media('<=1022px') {
            border-top: 15px solid #ef6c00;
            border-right: 15px solid transparent;
            top: -4px;
        }
    }

    &:after {
        position: absolute;
        color: $white;
        display: inline-block;
        content: '5';
        top: -7px;
        left: 26px;
        font-size: 11px;

        @include media('<=1022px'){
            top: -3px;
            left: 25px;
        }
    }
}

.btn-icon_cart {
    margin: 0 8px;
    position: relative;

    &:before {
        @include triangle(18px, $green, up-left);

        position: absolute;
        content: '';
        display: block;
        top: -10px;
        left: 20px;
        border-radius: 50%;

        @include media('<=1022px') {
            border-top: 15px solid $green;
            border-right: 15px solid transparent;
            top: -4px;
        }
    }

    &:after {
        position: absolute;
        color: $white;
        display: inline-block;
        content: '8';
        top: -7px;
        left: 26px;
        font-size: 11px;

        @include media('<=1022px'){
            top: -3px;
            left: 25px;
        }
    }
}

.help {
    line-height: $line-height-base;
    margin: 0 26px;
    color: #546e7a;

    @include media('<=900px'){
        font-size: 12px;
        margin: 0;
    }

    @include media('<=768px'){
        font-size: 11px;
    }

    @include media('<=681px'){
        font-size: 9px;
    }

    @include media('<=600px'){
        position: absolute;
        top: 50px;
        font-size: 8px;
        right: 15px;
    }

    @include media('<=360px'){
        font-size: 6px;
        top: 47px;
    }

    @include media('<=335px'){
        top: 45px;
    }

    @include media('<=325px'){
        top: 40px;
    }

    &-a {
        color: $btn-red-bg;

        &:hover {
            color: $btn-red-bg-hover;
        }
    }
}

.menu{
    background-color: $dark-grey;

    @include media('<=660px'){
        display: flex;
        justify-content: flex-end;
    }

    .nav {
        margin: 0 auto;
        height: 60px;

        @include media('<=660px'){

            position: absolute;
            top: 64px;
            left: 0;
            width: 100%;
            z-index: 100;
            background-color: $dark-grey;

            padding: 15px 0;
            visibility: hidden;
            transition: .3s all ease-in-out;
            flex-direction: column;
            height: min-content;
        }

        li {
            color: $white;
            margin: 0 20px;
            font-size: $f-size-base;
            line-height: $line-height-base;

            @include media('<=900px'){
                margin: 0 10px;
            }

            @include  media('<=660px'){
                 padding: 0 15px 15px;
                 text-align: center;
                 font-size: 16px;
            }

            &:hover {
                color: $nav-color-hover;
            }
        }

        &-opener{
            display: none;

            @include media('<=660px'){
                display: flex;
                justify-content: flex-end;
                position: relative;
                background-color: transparent;
                border: none;
                width: 30px;
                height: 30px;
                cursor: pointer;
                z-index: 100;

                &:before{
                    transition: .3s all ease-in-out;
                    position: absolute;
                    content: '';
                    display: block;
                    top: 5px;
                    left: -50%;
                    transform: translateX(-50);
                    width: 30px;
                    height: 2px;
                    background-color: $white;
                }

                &:after{
                    transition: .3s all ease-in-out;
                    position: absolute;
                    content: '';
                    display: block;
                    bottom: 5px;
                    left: -50%;
                    transform: translateX(-50);
                    width: 30px;
                    height: 2px;
                    background-color: #fff;
                }

                span{
                    transition: .3s all ease-in-out;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                    width: 30px;
                    height: 2px;
                    background-color: #fff;
                }
            }
        }
    }
}

.active{

    @include media('<=660px'){

        .nav{
            opacity: 1;
            visibility: visible;
        }

        .nav-opener{

            &:before{
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after{
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            span{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}


.top-bar {

    &_profile {
        width: calc(100% - 35px);
        padding-left: 13px;


        @include media('<882px') {
            display: none;
        }

        .profile {
            font-size: 14px;
            font-family: $rob_medium;

            &-name {
                font-weight: 500;
                color: #222;
                padding-bottom: 4px;

                i {
                    padding: 0 29px 0 13px;
                }
            }
            &-balance {
                font-weight: 700;
                color: $green;
            }
        }
    }

    &-opener {
        display: none;
    }
}

.registr-reg{
    display: none;
}

.profile {
    &-info_holder {
        padding: 0 13px;
        position: relative;
        cursor: pointer;
        display: none;

        &.active {
            .profile-list_holder {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-list {
        padding: 10px 10px 20px;

        &_holder {
            @include animate(opacity visibility);

            position: absolute;
            top: 100%;
            right: 0;
            min-width: 100%;
            width: 160px;
            background-color: #fff;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
        }

        li {
            position: relative;

            &:before {
                position: absolute;
                top: 10px;
                left: 5px;
                color: $green;
                display: inline-block;
                content: "\f107";
                -webkit-font-smoothing: antialiased;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-family: "Font Awesome 5 Free", sans-serif;
                font-weight: 900;
                transform: rotate(-90deg);
            }

            a {
                display: block;
                padding: 10px 20px;
            }
        }
    }
}

.header-btn_list {
    li {
        position: relative;
    }
}

.cart {
    &-list {

        &_holder {
            @include animate(opacity visibility);

            position: absolute;
            top: 100%;
            right: 0;
            min-width: 100%;
            width: 270px;
            background-color: #fff;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            border: 1px solid $grey;

        }

        li {
            .img-holder {
                width: 70px;
                height: 57px;
                background-color: #d4d4d4;

                &_mail {
                    width: 48px;
                    height: 48px;
                    background-color: #d4d4d4;
                    border-radius: 50%;
                }
            }

            .text-notification {
                padding-top: 7px;
            }

            .info-text {
                width: calc(100% - 70px);
                padding-left: 17px;

                &_icon {
                    color: #b0bec5;
                    font-size: 16px;
                }

                &_noread {
                    color: #ef6c00;
                }
            }

            a {
                padding: 20px;
                border-bottom: 1px solid #e0e0e0;
            }
        }
    }

    &-product {

        &-title {
            font-family: $rob_medium;
            font-size: 15px;
            font-weight: 500;
            padding-bottom: 9px;
        }

        &-category {
            font-family: $rob_regular;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 11px;
            color: $green;
        }

        &-price {
            font-family: $rob_medium;
            font-size: 16px;
            font-weight: 500;
        }

        &-author {
            font-family: $rob_bold;
            font-size: 12px;
            font-weight: 700;
            padding-bottom: 9px;
        }

        &-help {
            font-family: $rob_regular;
            font-size: 11px;
            font-weight: 400;
            color: #84b743;
            padding-bottom: 9px;
        }

        &-date {
            font-family: $rob_regular;
            font-size: 10px;
            font-weight: 400;
            color: #90a4ae;
        }
    }
}

.notification-help {
    font-size: 12px;
}

.js-opener {
    &.active ~ .drop-down {
        opacity: 1;
        visibility: visible;
    }

    &.active {
        .fa-shopping-cart,
        .fa-bell,
        .fa-envelope {
            color: black;
        }
    }
}

.total-price {
    padding: 17px 40px 17px 29px;
    font-size: 16px;
    font-weight: 700;
    font-family: $rob_bold;
}

.cart-button {
    padding: 0 15px 13px;
    color: #fff;

    &_gocart {
        background-color: $green;
        padding: 11px 23px 13px 18px;
        width: 105px;
        height: 35px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 0;
    }

    &_checkout {
        background-color: $red;
        color: #fff;
        width: 122px;
        height: 35px;
        padding: 11px 14px 13px 12px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 0;
    }
}